{% extends "layout.twig" %}

{% block content %}

    <div class="container">
        <h1>{{ webinfo.h1 }}</h1>
        <form method="post">
            {#TODO añadir errores a las clases de los divs#}

            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Film Name"
                       value="{{ film.name }}">
            </div>

            <div class="form-group">
                <label for="date">Date</label>
                <input type="date" class="form-control" id="date" name="date" placeholder="Film Date"
                       value="{{ film.date }}">
            </div>

            <div class="form-group">
                <label for="cover">Cover</label>
                <input type="text" class="form-control" id="cover" name="cover" placeholder="Film Cover"
                       value="{{ film.cover }}">
            </div>

            <div class="form-group">
                <label for="category">Category</label>
                <input type="text" class="form-control" id="category" name="category"
                       placeholder="Film Category" value="{{ film.category }}">
            </div>

            <div class="form-group">
                <label for="rating">Rating</label>
                <input type="text" class="form-control" id="rating" name="rating" placeholder="Film Rating"
                       value="{{ film.rating }}">
            </div>

            <input type="hidden" name="_method" value="{{ webInfo.method }}">
            <input type="submit" class="btn btn-default" value="{{ webInfo.submit }}">
        </form>
    </div>

{% endblock %}